body {
}

#playlist li {
    color: blue;
    text-decoration: underline;
}
#playlist li:hover {
    color: black;
    cursor: pointer;
}

.img-thumbnails img {
    width:100px
}

.gallery .img-wrap img {
    width:300px
}